[
   {kernel,
       [{distributed,[{sockapp,
                      5000,
                      ['a@DESKTOP-GOMS8S8','b@DESKTOP-GOMS8S8']}],
        {sync_nodes_mandatory,['a@DESKTOP-GOMS8S8']},
        {sync_nodes_timeout,10000}}]
    },
    {sockapp,{env,[{acceptorCount,5},{listenPort,8400}]}}
        
].